<hr>
<section id="testimonies">
    <div class="card text-dark mb-3">
        <h5 class="card-header">João Vitor <small>22/04/2021</small> </h5>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolore modi, nulla repellendus sequi quisquam quod, quo ut unde a corrupti expedita. Voluptatem maxime architecto sed odio perspiciatis fuga sint?Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, delectus quae. Reiciendis, distinctio! Ea, accusamus exercitationem! Blanditiis facilis dolores adipisci. Temporibus earum nam deserunt quaerat quisquam rerum consequuntur eligendi iusto.
        </div>
    </div>
    
</section>
<hr>
<section id="form" class="">
    <h3>Envie seu depoimento!</h3>
    <form method="post">
        <div class="form-group">
            <label for="">Nome</label>
            <input class="form-control" type="text" name="nome" required>
        </div>
        <div class="form-group">
            <label for="">Mensagem</label>
            <textarea name="mensagem" rows="5" class="form-control" required></textarea>
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </form>
</section>




